@{ ViewData["Title"] = "SuperHeroes vs Villains - Home"; }

<div class="text-center">
    <h1 class="display-4"> SuperHeroes vs Villains</h1>
    <main>
        <ul>
            <li><a asp-controller="SuperHeroes" asp-action="Index" class="heroRelated">Super-Heroes!</a></li>
            <li><a asp-controller="Villains" asp-action="Index" class="villainRelated">Villains!</a></li>
        </ul>
    </main>
</div>