@model SuperheroEditViewModel
@{
    ViewData["Title"] = "Edit";
}


<h2>Edit superhero</h2>
<hr />
<form method="post">
    <div class="row">
        <div class="form-group col-sm-6">
            <label asp-for="HeroName">hero name:</label>
            <input asp-for="HeroName" class="form-control" />
            <span asp-validation-for="HeroName"></span>
        </div>
        <div class="form-group col-sm-6">

            <label asp-for="SecretName">secret name:</label>
            <input asp-for="SecretName" class="form-control" />
            <span asp-validation-for="SecretName"></span>
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="form-group col-sm-5">
            <label asp-for="Strength">strength:</label>
            <input asp-for="Strength" class="form-control" type="number" />
            <span asp-validation-for="Strength"></span>
        </div>
        <div class="form-group col-sm-5">
            <label asp-for="AssetsValue">assets value:</label>
            <input asp-for="AssetsValue" class="form-control" type="number" step="0.01" />
            <span asp-validation-for="AssetsValue"></span>
        </div>
        <div class="form-group col-sm-2">
            <label asp-for="CanFly">can fly:</label><br />
            <input asp-for="CanFly" type="checkbox" />
            <span asp-validation-for="CanFly"></span>
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="form-group col-sm-9">
            <label asp-for="Powers">powers:</label>
            <textarea asp-for="Powers" class="form-control"></textarea>
            <span asp-validation-for="Powers"></span>
        </div>
        <div class="form-group col-sm-3">
            @{
                var enemies = (List<VillainOnlyIdNameViewModel>)ViewData["MiniEnemyList"];

                var selectList1 = new SelectList(
                    enemies,
                    nameof(VillainOnlyIdNameViewModel.ID),
                    nameof(VillainOnlyIdNameViewModel.VillainName));
            }

            <label asp-for="EnemiesIDs">enemies:</label>
            <select class="form-control" multiple
                    asp-for="EnemiesIDs"
                    asp-items="selectList1"></select>

            @*<label asp-for="Enemies">enemies:</label>
                <br />
                @{
                    foreach (var en in enemies)
                    {
                        bool isHisEnemy = false;
                        string checkedStr = isHisEnemy == true ? "checked" : "";
                        <input type="checkbox" value="@en.Id" title="EnemiesID" @checkedStr />
                        @en.VillainName <br />
                    }
                }*@

        </div>
    </div>
    <div class="row">
        <hr />
        <div class="form-group col-sm-1">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="form-group col-sm-10">
            &nbsp;
        </div>
        <div class="form-group col-sm-1">
            <a asp-controller="Superheroes" asp-action="Index" class="btn btn-default">Undo</a>
        </div>
    </div>

</form>