<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="P16_Databases_04_TableAdapters.Properties.Settings.CS2019_Kraus_1_ConnectionString"
            connectionString="Data Source=TRISRV10\SQLEXPRESS;Initial Catalog=CS2019_Kraus_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>