@{
    ViewData["Title"] = "Homæ Pagæ";
}

<div>
    <ul>
        <li><a asp-action="Authors" asp-controller="Index"></a>Autori</li>
        <li><a asp-action="Books" asp-controller="Index"></a>Libri</li>
    </ul>
</div>